<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<title>Send message</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<h1>Send message</h1>
<form action="#" th:action="@{/send}" th:object="${mail}" method="post">



    <p>Recipient: <input type="text" th:field="*{recipient}" id="recipient" /></p>
    <div style="color:red" th:if="${#fields.hasErrors('recipient')}" th:errors="*{recipient}">Email error</div>


    <p>Subject: <input type="text" th:field="*{subject}" /></p>
    <p>Message: <input type="text" th:field="*{message}"/></p>
    <p><input type="submit" value="Send"/>
        <input type="reset" value="Reset"/>
        <a href="/person">Go back</a>
    </p>
</form>

</body>
</html>