<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'First name: ' + ${person.firstName}"></p>
<p th:text="'Last name: ' + ${person.lastName}"></p>
<p th:text="'Age: ' + ${person.age}"></p>
<p th:text="'Email: ' + ${person.email}"></p>
<p th:text="'Work Place: ' + ${person.workPlace}"></p>
<p th:text="'Info:' + ${information.userAgent}"></p>
<p th:text="'Info: ' + ${information.time}"></p>
<a href="/person"> Go back </a>
</body>
</html>